*{
    margin: 0;
    padding: 0;
}
nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272822;
    color: white;
    height: 72px;
}
.container{
    width: 60vw;
    margin: auto;
    padding: 32px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.content{
    font-family: fantasy;
}
.logo{
    padding: 0 30px;
}

.logo img{
    width: 40px;
}
.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 7px !important;
    padding: 2px !important;
}